@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Host Grotesk", sans-serif;
}

html {

    scroll-behavior: smooth;

}

body {
    background-color: #f1eeee;
    width: 100%;
    
}

.container {

    margin: 0 auto;

}



.logo img {
    max-width: 250px;
}

nav {
    
    background-color: #48b281;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav ul {

    display: flex;
    list-style:none;
}



nav a {
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 25.5px 18px;
}

nav a:hover {

    transition: 1s;
    background-color: #f1eeee;
    color:#48b281

}

#mainSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background: whitesmoke;
    color: #555;
    max-width: 1500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destaque */
    border-radius: 15px;
}  

.mainImg{
    display: flex;
    margin-top: 95px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mainImg img {
    max-width: 100%;
    height: auto;
}

.conteudo {
    color: #48b281;
    flex-direction: column;
    text-align: center;
    
}

.conteudo h1 {
    
    font-size: 50px;
    margin-bottom: 30px;

}

.conteudo p {

    font-size: 25px;
    margin: 30px 1px 30px;
    text-align: center;
    color: #555;

}

a button {
    font-size: 20px;
    padding: 10px 25px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a button:hover{ 
    background-color: #48b281;
    color: #f1eeee;
    cursor: pointer;
    transition: 0.5s;
}

#sectionSobre{
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 95px;
    color: #555;
    max-width: 1500px;
}

#sectionSobre h1 {
    color:#48b281;
    font-size: 60px;
    margin-left: 30px;
}

#sectionSobre h2 {
    color:#48b281;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 30px;
}    

#sectionSobre p {
    margin: 30px 30px 30px 30px;
    font-size: 27px;
}


#sectionDepoimento{

    display: flex;
    justify-content: center;
   

}

.sobreImg h1 {

font-size: 90px;

}

#sessaoIMC h1 {

    display: flex;
    justify-content: center;
    margin-bottom: 0px;

}

.imcContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 35px;
    gap: 90px;
    align-items: center;
}

.imcContainer p {

margin-top: 25px;
width: 500px;
font-size: 22px;

}

.calcularIMCConteudo strong {

    color: #48b281;

}

#calculadoraIMC {
background: whitesmoke;
width: 600px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destaque */
border-radius: 15px;
margin: 15px;
}

#calculadoraIMC h2 {

    margin-top: 15px;

}

.divAltura, .divPeso, .divCalc {
width: 90%;
display: flex;
flex-direction: column;
gap: 10px;
}

input, button {
padding: 10px;
font-size: 20px;
outline: none;
border: none;
border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #48b281;
    color: #f1eeee;
}

footer {
    color: #f1eeee;
    background: #737373;
}


#footerConteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}

.imgFooterLogo {

    height: 120px;
    width: 240px;
}


.footerParagrafo {

 max-width: 20%;
 font-size: 17px;

}

.contatosRodape {

    list-style: none;
    display: flex;
    flex-direction: column;

}

.contatosRodape li {

    margin: 2.5px;

}

hr {

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 2.5px;
}

#cabecalhoFinal {

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 0px 150px;
    font-size: 15px;
    align-items: center;
    padding-bottom: 20px;
}

.boldFooter {

    font-weight: bold;
    font-size: 18px;

}

.whatsApp {

    position: fixed; bottom: 100px; right: 100px;

}